@model Karakoç.Controllers.CalisanController.YevmiyeViewClass

@{
    ViewData["Title"] = "AnaSayfa";
    Layout = null;
}


<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Çalışan Listesi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    @*<link rel="stylesheet" href="/css/site.css" />*@
</head>


<body>
    
 

<h2>Yevmiye Bilgileri</h2>



    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Tarih</th>
                <th>Çalıştı mı?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var yevmiye in Model.YevmiyelerList)
            {
                <tr>
                    <td>@yevmiye.Tarih</td> <!-- Tarih formatı -->
                    <td>@yevmiye.IsWorked</td> <!-- Yazım düzeltmesi -->
                </tr>
            }
        </tbody>
    </table>


    </body>
    </html>


