@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elegant Dashboard | Sign In</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/svg/logo.svg" type="image/x-icon">
    <!-- Custom styles -->
    <link rel="stylesheet" href="/css/style.min.css">
</head>

<body>
    <div class="layer"></div>
    <main class="page-center">
        <article class="sign-up">
            <h1 class="sign-up__title">Karakoç İnşaat</h1>

            <p class="sign-up__subtitle">Giriş için Bilgilerinizi Giriniz</p>
            @if (ViewBag.Sent != null)
            {
                <p style="color:red" class="sign-up__subtitle">
                    @ViewBag.Sent
                </p>
            }

            <p class="sign-up__subtitle">
                Lütfen Sisteme Kayıtlı E-Mail Hesabızı Giriniz. <br />
                Sistemde Kayıtlı ise size bir kod göndereceğiz.
            </p>
            @if (ViewBag.Sayi == null)
            {

                <form class="sign-up-form form" action="/Login/PasswordReset" method="post">

                    <label class="form-label-wrapper">
                        <p class="form-label">Email</p>
                        <input class="form-input" name="Reset_Mail" type="Email" placeholder="E-Mail" required>
                    </label>


                    <a class="link-info forget-link" href="~/Login/Giris">Giriş Yap</a> <br />
                    <a class="link-info forget-link" href="~/Login/KayıtOl">KAYIT OL</a>

                    <button type="submit" class="form-btn primary-default-btn transparent-btn">Kod Gönder</button>
                </form>
            }
            else
            {
                <form class="sign-up-form form" action="/Login/t" method="post">

                    <label class="form-label-wrapper">
                        <p class="form-label">Email</p>
                        <input class="form-input" name="kode" type="number" placeholder="6 Haneli Kod" required>
                    </label>


                    <a class="link-info forget-link" href="~/Login/Giris">Giriş Yap</a> <br />
                    <a class="link-info forget-link" href="~/Login/KayıtOl">KAYIT OL</a>

                    <button type="submit" class="form-btn primary-default-btn transparent-btn">Kodu Doğrula</button>
                </form>
            }

        </article>
    </main>
    <!-- Chart library -->
    <script src="/plugins/chart.min.js"></script>
    <!-- Icons library -->
    <script src="/plugins/feather.min.js"></script>
    <!-- Custom scripts -->
    <script src="/js/script.js"></script>
</body>
</html>