@model List<Karakoç.Models.Calisan> // Modelinizi uygun şekilde ayarlayın
@{
    ViewData["Title"] = "CalisanList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    
}


<main class="main users chart-page" id="skip-target">
    <div class="container">
        <h2 class="main-title">Çalışanların Listesi</h2>


        <table class="table table-bordered table-primary">
            <thead>
                <tr>
                    <th>Çalışan</th>
                    <th>Kayıt Tarihi</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var calisan in Model)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Calisan","Admin", new { id = calisan.CalısanId })">
                                @calisan.Name @calisan.Surname
                            </a>
                        </td>
                        <td>@calisan.KayıtTarihi?.ToString("dd.MM.yyyy")</td>

                        
                    </tr>
                }
            </tbody>
        </table>

    </div>
</main>
