@model List<Karakoç.Models.Yevmiyeler>
@{
    ViewData["Title"] = "YevmiyeGor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var günSayısı = DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month); // O ayın gün sayısı
}

<main class="main users chart-page" id="skip-target">
    <div class="container">
        <h2 class="main-title">Çalışanların Yevmiye Bilgisi</h2>

        <div>
            <div>
                <table class="table table-bordered table-primary">
                    <thead>
                        <tr>
                            <th>Çalışan</th>
                            @for (int i = 1; i <= günSayısı; i++)
                            {
                                <th>@i</th> <!-- Günler -->
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var calisanGroup in Model.GroupBy(y => new { y.CalisanId, y.Calisan.Name, y.Calisan.Surname }))
                        {
                            <tr>
                                <td>@calisanGroup.Key.Name @calisanGroup.Key.Surname</td>
                                @for (int i = 1; i <= günSayısı; i++)
                                {
                                    var tarih = new DateTime(DateTime.Now.Year, DateTime.Now.Month, i);
                                    var yevmiye = calisanGroup.FirstOrDefault(y => y.Tarih == tarih.Date);

                                    bool isWorked;

                                    if (yevmiye == null)
                                    {
                                        // Eğer yevmiye yoksa, çalışmamış demektir
                                        isWorked = false;
                                    }
                                    else
                                    {
                                        // Yevmiye varsa, IsWorked değerine göre isWorked değişkenini ayarla
                                        if (yevmiye.IsWorked.HasValue)
                                        {
                                            isWorked = yevmiye.IsWorked.Value; // Nullable bool'den normal bool'a çevir
                                        }
                                        else
                                        {
                                            // Eğer IsWorked null ise, çalışmamış demektir
                                            isWorked = false;
                                        }
                                    }
                                    <td style="background-color: @(isWorked ? "blue" : "transparent")"></td> <!-- Mavi arka plan -->
                                }
                            </tr>
                        }
                    </tbody>
                </table>



            </div>
        </div>
    </div>
</main>
